<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GridEXTutorial23CSharp.Properties.Settings.GridEXTutorialsDataConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\GridEXTutorialsData.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>