<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GridEXTutorial9CSharp.Properties.Settings.JSNorthWindConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\JSNorthWind.mdb" providerName="System.Data.OleDb"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
